@media screen and (min-width: 1090px) {
body {
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
    line-height: 1.75rem;
    text-align: center;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#menu {
    display: none;
}

header {
    grid-column: 1/2;
   margin-bottom: 3rem;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: unset;
    grid-column: 2/4;
    padding-bottom: 6rem;
 
}

nav ul {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-top: 3rem;
    align-items: flex-start;
}
main {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
  
}
footer {
    background-color: #2E368F;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p {
    color: white;
}
li {
    display: flex;
    background-color: #2E368F;

    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: .5rem;
}

a {
    color: white;
    list-style: none;
    text-decoration: none;
}



.gallory {
    grid-column: 2/4;
    grid-row: 1/1;
    margin: .2rem;
    border-style: solid;
    padding: .3rem;


}

.article {
    grid-column: 2/4;
    grid-row: 2/2;
    margin: .2rem;
    border-style: solid; 


}
.weather {
    grid-column: 1/2;
    grid-row: 1/1;
    margin: .2rem;
    border-style: solid; 


}

.weather div{
  display: flex;
  flex-wrap: wrap;
}

.weather div p {
  padding: .5rem;
}

.weather div #windchill{
  padding-top: 1rem;
}
.events {
    grid-column: 1/2;
    grid-row: 2/2;
    margin: .2rem;
    border-style: solid; 
    padding: .3rem;


}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides img {
    max-width: 35lvw;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0rem 3px 3px 0rem;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0rem;
    border-radius: 3px 0rem 0rem 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position:relative;
    top: 0rem;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

}

