body {
    
}

header {
    display: flex;
    background-color: rgb(6, 85, 99);
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    
}

nav {
    display: flex;
    flex-direction: column;



}

main {

    background-color: rgb(6, 85, 99);
    margin: 1%;
}

h3 {
    background-color: black;
    color:rgb(255, 255, 255);
    padding: 10px;
    margin: 0%;
}


.card {
    border-style: solid;
    border-width: 1.6mm;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

   
}

footer {
   display: flex;
   flex-direction: column;
    background-color: black;
    color:rgb(255, 255, 255);
    margin: 1%;
}

.button {
    text-align: center;
    background-color: rgb(6, 85, 99);
    color:rgb(255, 255, 255);
    padding: .5rem;
    text-decoration: none;
    font-size: larger;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    color:rgb(255, 255, 255)
}

#gabe {
    margin-top: 2rem;
    margin-left: 35%;
    margin-bottom: 3rem;
    margin-right: 0rem;
    
    
    
}

.multi-link {
    text-align: left;
    margin: 0rem;
}

#flag {
    padding-left: 2rem;
}

p {
    text-align: center;
}

h1 {
    font-size: 300%;
    margin-top: 0rem;
    margin-right: 0rem;
    
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 640px) {

    body {

    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #gabe {
        margin-top: 5rem;
        margin-left: 70%;
        margin-bottom: 5rem;
        margin-right: 0rem;
        grid-column: 1/1;
        
    }

    h1 {
        font-size: 300%;
        margin-top: 7rem;
        margin-right: 50%;
        grid-column: 2/2;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .card {
        grid-column: auto;
    }

    h2 {
        grid-column: 1/3;
    }
}